<section class="max-w-7xl mx-auto p-8">

  @if (community()) {
    <h1 class="text-5xl font-bold mb-8">
      {{ community()?.name }}
    </h1>
  }

  <div class="grid md:grid-cols-4 gap-4 mb-10">

    <input
      type="text"
      placeholder="Buscar producto"
      class="border p-3"
      #searchInput
      (input)="search.set(searchInput.value); loadItems()"
    >

    <select
      class="border p-3"
      #categorySelect
      (change)="category.set(categorySelect.value ? +categorySelect.value : undefined); loadItems()"
    >
      <option value="">Todas</option>
      <option value="1">Bebidas</option>
      <option value="2">Productos</option>
    </select>

    <input
      type="number"
      placeholder="Precio mínimo"
      class="border p-3"
      #minInput
      (input)="minPrice.set(minInput.value ? +minInput.value : undefined); loadItems()"
    >

    <input
      type="number"
      placeholder="Precio máximo"
      class="border p-3"
      #maxInput
      (input)="maxPrice.set(maxInput.value ? +maxInput.value : undefined); loadItems()"
    >

  </div>

  <p class="mb-6 text-[#564244]">
    Productos encontrados: {{ items().length }}
  </p>

  @if (items().length > 0) {

    <div class="grid md:grid-cols-3 gap-6">

      @for (item of items(); track item.id) {
        <app-product-card [item]="item"></app-product-card>
      }

    </div>

  } @else {

    <p class="text-center py-12 text-[#564244]">
      No se encontraron productos.
    </p>

  }

</section>