<article
  [routerLink]="['/items', item().id]"
  class="h-full min-h-[430px] border border-[#dcc0c2] bg-white overflow-hidden cursor-pointer transition duration-300 hover:-translate-y-1 hover:shadow-xl flex flex-col"
>

  <img
    [src]="item().image"
    [alt]="item().name"
    class="h-64 w-full object-cover"
  />

  <div class="p-6 flex flex-col flex-1">

    <h3 class="text-2xl font-bold text-[#1a1c1b]">
      {{ item().name }}
    </h3>

    <p
      class="mt-3 text-[#564244]"
      [class.line-clamp-3]="!expanded()"
    >
      {{ item().description }}
    </p>

    <button
      type="button"
      class="mt-3 inline-block w-fit rounded-full border border-[#630321] px-4 py-2 text-sm font-semibold text-[#630321] hover:bg-[#630321] hover:text-white transition"
      (click)="toggleDescription($event)"
    >
      {{ expanded() ? 'Leer menos' : 'Leer más' }}
    </button>

    <p class="mt-auto pt-4 text-xl font-semibold text-[#630321]">
      {{ item().price }} €
    </p>

  </div>

</article>